{% if field.value is not empty %}
    <table class="table table-sm table-hover mb-0">
        <thead>
            <tr>
                <th>Compétence</th>
                <th>Niveau</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for competence in field.value %}
                <tr>
                    <td>{{ competence }}</td>
                    <td>{{ competence.niveau }}</td>
                    <td>
                        <a href="{{ crud_url('CompetenceCrudController', 'detail', competence.id) }}" class="text-decoration-none text-muted small">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <em class="text-muted">Aucune compétence</em>
{% endif %}
