{% if field.value is not empty %}
    <table class="table table-sm table-hover mb-0">
        <thead>
            <tr>
                <th>Cours</th>
                <th>Matière</th>
                <th>Difficulté</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cour in field.value %}
                <tr>
                    <td>{{ cour }}</td>
                    <td>{{ cour.matiere }}</td>
                    <td>{{ cour.difficulte }}</td>
                    <td>
                        <a href="{{ crud_url('CoursCrudController', 'detail', cour.id) }}" class="text-decoration-none text-muted small">
                            Voir
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <em class="text-muted">Aucun cours</em>
{% endif %}
